* {
    margin:5px;
    box-sizing: border-box;
}

*:before, *:after{
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 5px;
    background-image: url("../images/site/background.jpg");
}

main {
    background-color: #ffffff;
    margin: 0;
    padding: 0 0 5rem 2rem;
}

section {
    padding: 1rem 0 1rem 1rem;
}

a {
    text-decoration: none;
}

.prodMgt ul {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #808080;
}

img {
    max-width: 100%;
}

#image-display {
    list-style-type: none;
}

.space {
    padding: 0 10px;
}

.title {
    font-weight: bold;
}
/*********************** forms general ***************/

input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
    width: 35%;
    padding: 12px 20px;
    margin: 5px 0 0 5px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: .8em;
}


input[type=submit] {
    width: 35%;
    background-color: #de2226;
    color: white;
    font-size: 1em;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #89002d;
}

input:required:invalid, input:focus:invalid {
        border-color: #de2226;
        background-position: right top;
        background-repeat: no-repeat;
}

input:required:valid {
        background: #fff;
        background-position: right top;
        background-repeat: no-repeat;
}


/******************* table styling *****************/
table {
        border-collapse: collapse;
        margin-bottom: 25px;
}

td, th {
        border: 1px solid #ddd;
        padding: 10px 15px;
}

tr:nth-child(even){
        background-color: #f2f2f2;
}

tr:hover {
        background-color: #ddd;
}

th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #de2226;
        color: white;
        font-size: 1.2em;
}

/******************* END table styling *****************/

#prod-display {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
}

#prod-display li {
        margin-bottom: .5em;
        border: 1px #ccc solid;
        list-style-type: none;
        flex: 1 1 auto;
}
                
#prod-display li img {
        width: 100%;
        height: 200px;
}

  
#heroSection {
    background-image: url("../images/site/rocketfeature.jpg");
/*  width: 100%;
*/  background-size: cover;
/*  background-position: center;*/
    padding-bottom: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.myAccount {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }

.account {
    /*max-width: 22px;*/
    max-height: 25px;
}

/*************** navigation ******************/

#nav {
    background-color: #de2226;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 -1px;
}

#nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1em;
}

#nav a {
    text-decoration: none;
    color: white;
}

/* mouse over link */
#nav a:hover {
    background-color: #ffffff;
    color: #de2226;
         /*padding: 8px 10px 20px 10px;*/ 
}

/* selected link */
#nav a:active {
    background-color: #ffffff;
    color: #de2226;
    /*     padding: 8px 10px 20px 10px; */
}
    

.reviewBox {
    background-color: rgba(247, 240, 137, .3);
    
}

.reviewBox ul {
    list-style: none;
}

.reviewBox ul li {
    background-color: #fff;
    display: inline-block;
    width: 50%;
    padding: 8px;
    margin: 5px 0;
}
    
@media (min-width: 310px) {
    /* TODO: need to have a drop-down menu */

    /*************** header ******************/

    header {
        background-color: #ffffff;
        margin: 0 -1px;        
    }

    #headerContainer {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        justify-content: space-between;
    }

/*    .account {
        max-width: 22px;
        max-height: 15px;
    }*/

/*    .myAccount {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }*/

    .headerImages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo {
        max-width: 100px; 
        max-height: 39px;
        margin: 5px;
    }

    
    .productDetails {
       display: flex;
       justify-content: space-between;
       align-items: center;
   } 
   
   .productDetails li {
       list-style-type: none;
   }
  
   
   #detailsDescription {
       font-weight: bold;
   }
   
   .thumbnails {
       display: flex;
       justify-content: flex-start;
       align-items: flex-start;
       padding: 5px;
   }
   .thumbnails img {
       max-width: 200px;
   }
   
/*    ************** navigation *****************

    #nav {
        background-color: #de2226;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 0 -1px;
    }    #nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 1em;
    }

    #nav a {
        text-decoration: none;
        color: white;
    }

     mouse over link 
    #nav a:hover {
        background-color: #ffffff;
        color: #de2226;
             padding: 8px 10px 20px 10px; 
    }

     selected link 
    #nav a:active {
        background-color: #ffffff;
        color: #de2226;
             padding: 8px 10px 20px 10px; 
    }*/

    /*************** page content ******************/

    .siteTitle {
        font-size: 1.8em;
    }

    #page-content {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
    }

/*    #heroSection {
        background-image: url("../images/site/rocketfeature.jpg");
     width: 100%;
     background-size: cover;
     background-position: center;
        padding-bottom: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }*/

    .acmeRocket {
        list-style: none;
        color: #990033;
        background-color: rgba(255, 255, 255, .6);
        align-items: center;
    }

    .rocketReviews{
        list-style: disc inside none;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .rocketReviews li {
        margin: 5px;
    }

    .reviewsRecipes {
        display: flex;
        flex-direction: column;
    }

    .recipeImages {
        display: flex;
    }

    td.img   {
        background-color: #c8c8c8;
        align-items: center;
    }
    
    .prodMgt {
        
    }
    
    /***************** forms *******************/
    input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: .8em;
    }

    input[type=submit] {
        width: 80%;
        background-color: #de2226;
        color: white;
        font-size: 1em;
        padding: 14px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #89002d;
    }

   
    /*************** footer ******************/

    .border {
        border: 1px solid #000;
        border-radius: 5px;
    }

    footer {
        background-color: #ffffff;
        margin: 0 -1px;
        text-align: center;
        font-size: .8em;
    }

    .footerContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.instructions {
        font-size: 1.5em;
        font-style: italic;
}
.warning {
        font-size: 1em;
        font-style: italic;
        color: #de2226;
}
/*************************** media query for larger screens **************************************************************************/

@media (min-width: 700px) {

   /* TODO: do I need another large size media query? */
    
   .productDetails {
       display: flex;
       justify-content: space-between;
       align-items: center;
   } 
   
   .productDetails li {
       list-style-type: none;
   }
   
   #displayDetails {
       display:flex;
   }
   
   #detailsDescription {
       font-weight: bold;
   }
   
   div {
        display: flex;
    }

    .logo {
        max-width: 126px; 
        max-height: 49px;
        margin: 5px;
    }

    .siteTitle {
        font-size: 2.2em;
    }

    #nav ul {
        /*     list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start; */
        font-size: 1.4em;
        margin-bottom: 0;
        
    }

    /* mouse over link */
    #nav a:hover {
        background-color: #ffffff;
        color: #de2226;
        padding: 8px 10px 20px 10px;
    }

    /* selected link */
    #nav a:active {
        background-color: #ffffff;
        color: #de2226;
        padding: 8px 10px 20px 10px;
    }

    .acmeRocket {
        height: 100%;
        background: none;

    }

    .reviewsRecipes {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .reviews, .recipes {
        display: flex;
        flex-direction: column;

    }
/******************** forms ********************/
    input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
        width: 35%;
        padding: 12px 20px;
        margin: 5px 0 0 5px;
        display: block;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: .8em;
    }

    input[type=submit] {
        width: 35%;
        background-color: #de2226;
        color: white;
        font-size: 1em;
        padding: 14px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #89002d;
    }
    
  
   #registrationLink, #acctMgmtLink, #mgProd {
        width: 35%;
        background-color: #de2226;
        color: white;
        padding: 14px 20px;
        margin: 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #prod-display{
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #prod-display li{
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        max-height: 400px;
        list-style-type: none;
    }
   
}
